h1{	
	position: absolute;
	color: #282828;
	margin-left: 800px; 
	margin-top: 200px;
	font-size: 42px;
	font-family: 'Lato';
	font-weight: 300;

}
p{	
	font-family: 'Source Sans Pro', sans-serif;
  text-indent: 1.5em;

	position: absolute;
	margin-top: 270px;
	color: #282828;
	margin-left: 650px;
	margin-right: 300px


}

